@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-gray-800 text-gray-200
}

.light {
  @apply bg-slate-300 text-black
}

.layout {
  @apply container bg-amber-200 mx-auto h-screen overflow-y-hidden;
}

.section-layout {
  @apply w-full h-screen px-4;
}

.section-wrapper {
  @apply h-[90%] w-full rounded-xl p-4;
}

.active {
  @apply border-b-2 border-orange-400;
}

.deactive {
  @apply border-0;
}

button:hover {
  @apply bg-orange-400
}

@media (max-width: 800px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 801px) {
  .desktop-hidden {
    display: none;
  }
}